services:
  summariz:
    build: .
    ports:
      - "3000:3000"
    env_file:
      - .env.local
    environment:
      - NODE_ENV=production
      - UPLOADTHING_APP_URL=http://host.docker.internal:3000
    restart: always
